<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"  debug="false">

	<!--控制台的输出 -->
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%7r] %6p - %30.30c - %m \n"/>
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="INFO"/>
		</filter>
	</appender>

	<appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="DatePattern" value="'.'yyyy-MM-dd"/>
		<!--<param name="File" value="${catalina.base}/logs/spring-demo.log"/>-->
		<param name="File" value="E:/logs/spring-demo/spring-demo.log" />
		<param name="Append" value="true"/>
		<param name="MaxFileSize" value="512MB"/>
		<param name="MaxBackupIndex" value="10"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%7r] %6p - %30.30c - %m \n"/>
		</layout>
	</appender>

	<root>
		<priority value="INFO"/>
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="FILE"/>
	</root>

</log4j:configuration>